*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    width: 80%;
    margin-left: 10%;
    height: auto;
    /* border: 1px solid gray;
    border-radius: 10px; */
}
.sub-header{
    height: 6vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: gray;
    align-items: center;
    /* font-size: 1.5em; */
}
.logo{
    min-width: 200px;
}
.sub-header .text{
    /* width: 30%;.na */
    min-width: 500px;
}
.logo i{
    background-color: #f2f2f2;
    border-radius: 3px;
    padding: 5px;
}
.sub-header .left-nav{
    display: flex;
}
.sub-header .left-nav .cur{
    display: flex;
    margin-left: 20px;
}
.sub-header .left-nav i{
    margin-left: 10px;
    margin-top: 3px;
}
.search-header{
    display: flex;
    height: 15vh;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-left: 10%;
}
.search-header .icon{
    font-size: 2em;
    color: #f49caa;
}
.search{
    border: 2px solid gray;
    height: 33%;
    width: 50%;
    display: flex;
    align-items: center;
    border-radius: 5px;
}
input {
    width: 100%;
    border: 0px solid red;
    padding-left: 20px;
    height: 36px;
}
.search-logo{
    display: flex;
    width: 200px;
    justify-content: space-around;
    color: gray;
    font-size: 2em;
}
.banner{
    background-image: url('/images/banner-1.jpg');
    height: 50vh;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;

}
.nav{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: 15%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 0.8em;
    font-weight: bold;
}
.banner .text{
    margin-left: 50px;
    font-size: 0.5rem;
}
#trend{
    color: #f49caa;
    font-size: 30px;
}


.item-box{
    height: 13vh;   
    margin-top: 40px;
    display: flex;
    align-items: center;
    width: 100%;
    /* font-size: 1em; */
}
.frock{
    width: 23%;
    height: 90%;
    display: flex;
    border: 1px solid gray;
    border-radius: 5px;
    margin-left: 2.5%;
    position: relative;
    align-items: center;
    /* font-size: 2.5em; */
}
.frock .image{
    height: 40px;
    width: 40px;
    border: 1px solid gray;
    background-color: #ededed;
    margin: 13px 0px 13px 13px;
    border-radius: 5px;
    padding: 8px;
    min-width: 40px;
    min-height: 40px;
}
 .frock .text{
    display: flex;
    flex-direction: column;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-top: 13px;
    height: 90%;
    justify-content: center;
}

.show{
    margin-top: 20px;
    color: #f49caa;
}
.quantity{
    position: absolute;
    right: 10px;
    top:33px ;
    font-size: 1.5em;
}
 .heading1{
    display: flex;
    width:73.5% ;
    
    margin-left: 25.5%;
    margin-top: 50px;
    /* font-size: 5rem; */
    font-weight: bold;
    border-bottom: 1px solid gray;
    
}
.heading1 .new{
    position: relative;
    left: -200px;
    width: 200px;
    border-bottom: 0px;
    font-size: 1.5em;
    /* color: #f49caa; */

}
.item-box2{
    width: 74.5%;
    /* background-color: #f49caa; */
    height: auto ;
    float: right;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    gap: 20px;
    margin-top: 50px;

}
.item-box2 img{
    height: 50px;
    width: 50px;
    margin-left: 10px;
    min-height: 80px;
    min-width: 80px;
}
.item-box2 .item{
    display: flex;
    border: 0.000001px solid gray;
    border-radius: 5px;
    height: 15vh;
    align-items: center;
}
.item .details{
    margin-left: 10px;
    font-size: 1em;
}
.item .item-name{
    font-weight: bold;
}
.item .type{
    color: gray;
}
.item .price{
    color: #f49caa;
    font-weight: bold;
}
.price span{
    color: gray;
    text-decoration: line-through;
    font-size: 1em;
}
.heading{
    margin-top: 50px;
}
.deal{
    
    margin-left: 26%;
    margin-top: -100px;
    margin-bottom: 50px;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 1.8em;
    font-weight: bold;
}

.shampoo{
    height: 100%;
    width: 74.5%;
    margin-left: 25.5%;
    /* background-color: #f49caa; */
    border: 2px solid gray;
    border-radius: 8px;
    display: flex;
    /* margin-top: -100px; */
    
}
.rating i{
    color: gold;
    margin-top: 70px;
}
.content h3{
    margin-top: 10px;
}
.content p{
    color: gray;
    font-size: 0.5em;
}
.content button{
    background-color: #f49caa;
    padding: 7px 12px;
    border-radius: 5px;
    color: white;
    border: none;
    font-weight: bold;
    margin-top: 17px;
}
.time{
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 0.5em;
}
.time .days{
    /* border: 1px solid gray; */
    height: 100px;
    width: 100px;
    /* color: #f49caa; */
    background-color: lightgray;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

.shampoo .pic{
    height: 100%;
    width: 50%;
}
.shampoo .content{
    width: 50%;
    font-size: 1.5em;
}
.item-box-new{
    /* background-color: #f49caa; */
    width:74.5% ;
    margin-left: 10.5%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 30px;
    row-gap: -20px;
    height: auto;
    font-size: 1em;
    
}
.container .new{
    margin-left: 23.5%;
    margin-top: 40px;
    /* border-bottom: 1px solid gray; */
    font-size: 20px;
    font-weight: bold;
}
.item-box-new .item{
    border: 1px solid gray;
    border-radius: 10px;
    height: 300px;
    margin-top: 50px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */

}
.item-box-new img{
    height: 150px;
    width: 150px;
    margin-left: 20px;
    margin-left: 100px;
    /* display: flex; */
    /* justify-content: center; */

}
.item-box-new .type{
    margin-left: 20px;
}
.item-box-new .item-name{
    margin-top: 10px;
    margin-bottom: 0px;
    height: 20px;
    margin-left: 20px;
    color: gray;
}
.item-box-new .rating{
    margin-top: -40px;
    margin-left: 20px;
}
.item-box-new  .price{
    margin-left: 20px;
    color: black;
    color: gray;
    bottom: 50px;
}
.testinomial{
    width: 80%;
    /* background-color: antiquewhite; */
    margin-left: 10%;
    display: flex;
    margin-top: -60px;
    font-size: 1em;
}
.testinomial .alan{
    width: 30%;
    margin-top: 130px;
}
.testinomial .heading{
    border-bottom: 1px solid gray;
    text-align: center;
}
.testinomial .content{
    height: 50vh;
    width: 100%;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
.testinomial i{
    color: #f49caa;
    margin-left: -30px;
    font-size: 20px;
    margin-right: 5px;
}
.testinomial .content img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-top: 30px;
}
.testinomial .name{
    color: gray;
    font-weight: bold;
    margin-top:20px ;
}
.content svg{
    height: 25px;
    width: 25px;
    margin-top: 20px;
}
.content .ceo{
    color: gray;
    font-weight: bold;
    margin-top: 20px;
}
.content .text{
    margin-bottom: 40px;
}
.banner2{
    background-image: url('images/cta-banner.jpg');
    width: 40%;
    height: 59vh;
    background-repeat:no-repeat ;
    background-size: 100% 100%;
    border-radius: 5px;
    margin-top: 10%;
    margin-left: 50px;
    /* background-color: black; */
}
.content2{
    width: 30%;
    height: 51vh;
    margin-top: 170px;
    margin-left: 50px;
    border: 1px solid gray;
    /* background-color: aquamarine; */
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.content2 .head{
    margin-top: 10px;
    font-weight: bold;
    color: gray;
    margin-left: 20%;

}
.content2 .des{
    margin-top: 10px;
    color: gray;
    margin-left: 20%;
}
.banner2 .coll{
    height: 50%;
    width: 50%;
    background-color: white;
    opacity: 0.7;
    margin-left: 30%;
    margin-top: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
   
}
.coll .discount{
    /* margin-left: 20%; */
    background-color: black;
    display: inline;
    padding: 5px;
    color: white;
    font-weight: bold;
    position: relative;
    top: 20px;
    border-radius: 5px;

}
.coll .sub-text{
    align-items: center;
    margin-left: 25%;
    display: inline;
    padding: 5px;
    color:gray;
    font-weight: bolder;
    position: relative;
    top: 30px;
    border-radius: 5px;
    font-size: 25px;
}
.coll .starting{
    position: relative;
    /* margin-left: 20%; */
    top: 40px;
    font-weight: bold;
}
.coll .shop{
    position: relative;
    color: gray;
    font-weight: bold;
    top: 50px;
    /* margin-left: 25%; */
}
.alan .heading{
    margin-left: 10px;
}

.content .heading{
    margin-top: 0px; 
    bottom: 1px solid gray;
     width: 100%; 
    margin-left: -2px;
}
.last-box{
    display: flex;
    width: 73%;
    margin-left: 17%;
    margin-top: 50px;
    font-size: 1.5em;
}
.last-box .item{
    width:25%;
    margin-left: 30px;
}
.last-box img{
    height: 250px;
    width: 100%;
    border-radius: 8px;
}
.last-box .type{
    color: #f49caa;
    margin-top: 10px;
}
.last-box .name{
    margin-top: 10px;
}
.last-box .date{
    margin-top: 10px;
}

.footer1{
    height: 35vh;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-items: center;
    flex-direction: column;
    margin-top: 50px;
    border-bottom: 1px solid gray;
    font-size: 1em;
}

.footer1 .heading{
    position: relative;
    margin-left: 170px;
    border-bottom: 0px;
    color: #f49caa;
    /* top: 30px; */
}
.footer1 .fas{
    color: gray;
    margin-top: 10px;    
    margin-left: 170px;
}
.footer2{
    display: flex;
    background-color: black;
    color: gray;
    border-bottom: 1px solid gray;
    height: 35vh;
    flex-wrap: wrap;
    font-size: 1em;
    width: 100%;
}
.footer2 .heading{
    border-bottom: 0px;
    font-size: 2empx;
    color: white;
    margin-left: 70px;
}
.popular{
    width: 20%;
    margin-left: -50px;
    min-width: 250px;
    /* margin-top: 50px; */
}
.i1{
    margin-left: 70px;
    margin-top: 5px;
}
.fas span{
    font-weight: bold;
}
.footer3{
    height: 15vh;
    background-color: black;
    font-size: 1em;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.footer3 img{
    /* margin-left: 38%; */
    /* margin-top: 25px; */
}
.copy{
    color: gray;
    /* margin-left: 38%; */
    margin-top: 10px;
}
.sidebar{
    height: auto;
    width: 20%;
    /* background-color: #f49caa; */
    position: sticky;
    top: 0;

}
 .headi{
    color: gray;
    font-weight: bolder;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 1em;
}
.clothes{
    display: flex;
}
.sidebar1{
    border: 1px solid gray;
    border-radius: 8px;
    height: 43vh;
    margin-top: 50px;
}

.sidebar1 img{
    height: 25px;
    width: 30px;
    margin-left: 20px;

}
.sidebar1 i{
    font-size: 0.8em;
    color: gray;
    margin-top: 5px;
    position: absolute;
    right: 10px;
    
}
.sidebar1 p{
    margin-left: 5px;
    font-size: 1em;
}
.sidebar1 .clothes{
    margin-top: 10px;
}
.sidebar2{
    border: 1px solid gray;
    border-radius: 8px;
    margin-top: 20px;
    height: 50vh;
    font-size: 1em;
}
.sidebar2 img{
    height: 60px;
    width: 60px;
}
.sidebar2 .baby{
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
   
}
.sidebar2 .details{
    margin-left: 20px;
}
.sidebar2 .rating{
    margin-top: -70px;
}
.sidebar2 .name{
    margin-top: -5px;
    /* font-size: 2.5em; */
}




/* For Tab */

@media only screen and (max-width:1180px)  {
   .sub-header .logo{
        display: none;
    }
    .search-logo{
        display: none;
    }
    .nav{
        display: none;
    }
    .item-box{
        width: 100%;
    }
    .item-box .frock{
        width: 50%;
        margin-left: 10px;
    }
    #lens{
        display: none;
    }
    #top{
        display: none;
    }
    .item-box2{
        grid-template-columns: 50% 50%;
        width: 100%;
        gap: 5%;
    }
     .item-box2 .item{
        width: 100%;
        margin-left: 50px;
    }
    
    .sidebar{
        display: none;
    }
    .item-box-new{
        grid-template-columns: auto auto;
        
    }
    .item-box-new img{
        margin-left: 80px;
        margin-bottom: 10px;
    }
    .item-box-new .rating{
        margin-top: -60px;
    }
    .testinomial{
        flex-wrap: wrap;
    }
    #sh{
        display: none;
    }
    .footer1{
        width: 100%;
        height: auto;
    }
    .footer1 .heading{
        margin-left: 70px;
    }
    .footer1 .fas{
        margin-left: 70px;
        margin-right: 50px;
    
    }
    #cos{
        margin-bottom: 50px;

    }
    .footer2{
        height: auto;
        width: 100%;
       
    }
    .footer2 .popular{
        /* margin-left: -170px; */
        /* position: relative; */
        left: -110px;
        max-width: 100px;
        height: auto;
    }
    .footer3{
        height: auto;
    }
    .footer3 img{
        margin-left: 30%;
    }
.copy{
    margin-left: 30%    ;
}
    #pop{
        /* margin-left:  110px; */
        margin-bottom: 50px;
    }
    #last-box-item2{
        margin-left: 210px;
    }
    .last-box .item{
        width: 50%;
        margin-left: -20px;
    }
    .item-box-new{
        margin-left: -10px;
        width: 100%;
    }
    .container .heading1 .new{
        /* margin-left: -1%; */
        margin-top: 40px;
        /* border-bottom: 1px solid gray; */
        font-size: 0.5em;
        font-weight: bold;
        width: 100%
    }
  
    .shampoo{
        margin-left: 0.0px;
        margin-top: 2000px;
        width: 100%;
        height: auto;
    }
    .shampoo .pic{
        height: 100%;
        width: 100%;
        margin-top: 10%;
    }
    .shampoo .time{
        margin-bottom: 20px;
    }
    .deal{
        left: -240px;
        position: relative;
        top: 1950px;
        width: 100%;
    }
    
    .item-box2{
        left: -50px;
        position: relative;
        display: grid;
        grid-template-columns: auto auto ;
    }
  .testinomial{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 17%;
  }
  .testinomial .alan{
    width: 80%;
  }
  .alan img{
    height: 150px;
    width: 150px;
  }
  .alan .name{
    font-weight: bold;
    font-size: 50px;
  }
  .alan .ceo{
    font-size: 30px;
  }
  .alan .quotes{
    height: 100px;
    width: 100px;
  }
  .alan .text{
    font-size: 30px;
  }
  .alan .heading{
    font-size: 30px;
  }
  .banner2{
    height: 50vh;
    width: 80%;
    margin-left: 0px;
  }
  .banner2 .coll{
    top: -30px;
    position: relative;
    /* left: -20px; */
    align-items: center;
  }
  .coll .discount{
    margin-top: 20%;
  }
  .content2{
    width: 80%;
    font-size: 1.2rem;
    /* align-items: center; */
    /* display: flex; */
    height: 40vh;
    margin-left: 0px;
    position: relative;
    /* bottom: 0px; */
    top: -50px;
  }
  .content2 .head{
    margin-left: 250px;
    /* position: absolute; */
  }
  .content2 .des{
    margin-left: 250px;
  }
  .content2 .heading{
    height: 15%;
    /* background-color: #f49caa; */
    font-size: 30px;
}
}



/* for phone */


@media only screen and (max-width:480px) {
    .sub-header .logo{
        display: none;
    }
    .sub-header .left-nav{
        display: none;
    }
    .search-logo{
        display: none;
    }
    .search-header{
        flex-wrap: wrap;
    }
    .nav{
        display: none;
    }
    #lens1{
        display: none;
    }
    #top{
        display: none;
    }
    .item-box2{
        grid-template-columns: auto auto;
    }
    .sidebar{
        display: none;
    }
    .item-box-new{
        grid-template-columns: auto auto;
    }
    .testinomial{
        flex-wrap: wrap;
    }
    #sh{
        display: none;
    }
}